		body {
			background-image: url("../img/Book.jpg");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
		}

		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}

		.form-wrapper {
			width: 300px;
			background-color: #fff;
			border-radius: 10px;
			padding: 20px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		}

		.logo {
			text-align: center;
			margin-bottom: 20px;
		}

		.logo img {
			width: 100px;
		}

		.form-group {
			margin-bottom: 20px;
		}

		.form-group label {
			display: block;
			font-weight: bold;
			margin-bottom: 5px;
		}

		.form-group input {
			width: 100%;
			padding: 8px;
			border: 1px solid #ccc;
			border-radius: 5px;
		}

		.submit-btn {
			width: 100%;
			padding: 10px;
			border: none;
			border-radius: 5px;
			background-color: #4CAF50;
			color: #fff;
			font-weight: bold;
			cursor: pointer;
		}

		.submit-btn:hover {
			background-color: #45a049;
		}